%h1 All Users
- @index = 0
%table.table.table-hover
    %thead
        %tr
            %th{scope: "col"} #
            %th{scope: "col"} name
            %th{scope: "col"} e-mail
            %th{scope: "col"} Admin?
            %th{scope: "col"} Banished?
    %tbody
    - @users.each do | user |
    - @index += 1 
        %tr
            %th{scope: "row"}= @index
            %td= my_link_to user.name, users_path(user)
            %td= user.email
            %td= user.admin?
            %td= user.banished?