%h1 
    = @user.name
%section.card
    %table.table.table-hover
        %thead
            %tr
                %th{scope: "col"} e-mail
                %th{scope: "col"} Admin?
                %th{scope: "col"} Banished?
                %th{scope: "col"} Banish user 
        %tbody
        - [@user].each do | user |
            %tr
                %td= user.email
                %td= user.admin?
                %td= user.banished?
                %td
                    = form_with(url: banish_path, method: "post") do |f|
                        = f.hidden_field :user => {:user => {:id => user.id, :banished => true}}
                        - if !user.banished?
                            = f.submit "Banish"
                        - else
                            = f.submit "Reborn"
            
%td= my_link_to "All users", users_path
            